/* App.css */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

.leaflet-container a.leaflet-popup-close-button {
  padding: 10px;
}
.main-content {
  flex: 1;
  display: flex;
  position: relative;
}

/* Conserver les animations existantes */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }   
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}